body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.todo-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  align-items: center;
  justify-content: center;
  margin: 100px;
  position: relative; /* so clearBtn stays inside this box */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 70%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #f8f9fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li:hover {
  background: #e9ecef;
}

li button {
  background: #dc3545;
  padding: 5px 10px;
  border-radius: 6px;
}

li button:hover {
  background: #a71d2a;
}

#clearBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;

  
}
li input[type="checkbox"]:checked {
  accent-color: green;      
}




#clearBtn:hover {
  background: #a71d2a;
}
